.vs/
.vscode/
*.VC.db
*.VC.opendb
*.sln
*.suo
*.user
*.userprefs

Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/
Artifacts/

Collections/
Developers/

*.opensdf
*.sdf
*.tmp
*.log
*.pdb
*.obj
*.ipch
*.ilk
*.tlog
*.cache

!.github/
!.gitignore
